@font-face {
    font-family: "Seto";
    src: url(./setofont.ttf);
}

h1{
    font-family: "Comic Sans MS", Seto;
}
p{
    font-family: "Comic Sans MS", Seto;
}

.myFont{
    font-family: "Comic Sans MS", Seto;
}